openapi: 3.0.0
info:
  title: URL Shortener API
  description: Advanced URL Shortener with Analytics and Rate Limiting
  version: 1.0.0

servers:
  - url: https://urlshort.shadowdragon.dev
    description: Production server
  - url: http://localhost:3000
    description: Development server

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    Error:
      type: object
      properties:
        error:
          type: string
        message:
          type: string

  responses:
    BadRequest:
      description: Bad request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Unauthorized
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: Not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    TooManyRequests:
      description: Too many requests
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

paths:
  /auth/google:
    get:
      summary: Initiate Google OAuth login
      tags:
        - Authentication
      responses:
        302:
          description: Redirects to Google login page

  /auth/google/callback:
    get:
      summary: Google OAuth callback
      tags:
        - Authentication
      responses:
        200:
          description: Login successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  accessToken:
                    type: string
                  refreshToken:
                    type: string
                  user:
                    type: object
                    properties:
                      id:
                        type: string
                      email:
                        type: string
                      name:
                        type: string
                      avatar:
                        type: string
                        description: URL of the user's Google avatar

  /auth/current-auth:
    get:
      summary: Get current authentication data
      tags:
        - Authentication
      responses:
        200:
          description: Current authentication data
          content:
            application/json:
              schema:
                type: object
                properties:
                  accessToken:
                    type: string
                  refreshToken:
                    type: string
                  user:
                    type: object
                    properties:
                      id:
                        type: string
                      email:
                        type: string
                      name:
                        type: string
                      avatar:
                        type: string
        401:
          $ref: '#/components/responses/Unauthorized'

  /auth/logout:
    get:
      summary: Logout user and invalidate current token
      tags:
        - Authentication
      security:
        - BearerAuth: []
      description: Requires a valid access token. The provided token will be blacklisted and can no longer be used.
      responses:
        200:
          description: Successfully logged out
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "Logged out successfully"
        401:
          description: Unauthorized - Token missing or invalid
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: "Access token required"
                  message:
                    type: string
                    example: "Please provide a valid access token"
        403:
          description: Forbidden - Token already revoked
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: "Token has been revoked"
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: "Logout Error"
                  message:
                    type: string
                    example: "Failed to logout"

  /api/shorten:
    post:
      summary: Create a short URL
      tags:
        - URLs
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - longUrl
              properties:
                longUrl:
                  type: string
                customAlias:
                  type: string
                topic:
                  type: string
      responses:
        200:
          description: Short URL created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  shortUrl:
                    type: string
                  createdAt:
                    type: string
                    format: date-time
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        429:
          $ref: '#/components/responses/TooManyRequests'

  /api/shorten/{alias}:
    get:
      summary: Redirect to original URL
      tags:
        - URLs
      parameters:
        - name: alias
          in: path
          required: true
          schema:
            type: string
      responses:
        302:
          description: Redirect to original URL
        404:
          $ref: '#/components/responses/NotFound'

  /api/analytics/{alias}:
    get:
      summary: Get URL analytics
      tags:
        - Analytics
      security:
        - BearerAuth: []
      parameters:
        - name: alias
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Analytics data
          content:
            application/json:
              schema:
                type: object
                properties:
                  totalClicks:
                    type: integer
                  uniqueUsers:
                    type: integer
                  clicksByDate:
                    type: array
                    items:
                      type: object
                      properties:
                        date:
                          type: string
                          format: date
                        clicks:
                          type: integer
                  osType:
                    type: array
                    items:
                      type: object
                      properties:
                        osName:
                          type: string
                        uniqueClicks:
                          type: integer
                        uniqueUsers:
                          type: integer
                  deviceType:
                    type: array
                    items:
                      type: object
                      properties:
                        deviceName:
                          type: string
                        uniqueClicks:
                          type: integer
                        uniqueUsers:
                          type: integer
        401:
          $ref: '#/components/responses/Unauthorized'
        404:
          $ref: '#/components/responses/NotFound'
        429:
          $ref: '#/components/responses/TooManyRequests'

  /api/analytics/topic/{topic}:
    get:
      summary: Get topic-based analytics
      tags:
        - Analytics
      security:
        - BearerAuth: []
      parameters:
        - name: topic
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Topic analytics data
          content:
            application/json:
              schema:
                type: object
                properties:
                  totalClicks:
                    type: integer
                  uniqueUsers:
                    type: integer
                  clicksByDate:
                    type: array
                    items:
                      type: object
                      properties:
                        date:
                          type: string
                          format: date
                        clicks:
                          type: integer
                  urls:
                    type: array
                    items:
                      type: object
                      properties:
                        shortUrl:
                          type: string
                        totalClicks:
                          type: integer
                        uniqueUsers:
                          type: integer
        401:
          $ref: '#/components/responses/Unauthorized'
        429:
          $ref: '#/components/responses/TooManyRequests'

  /api/analytics/overall:
    get:
      summary: Get overall analytics
      tags:
        - Analytics
      security:
        - BearerAuth: []
      responses:
        200:
          description: Overall analytics data
          content:
            application/json:
              schema:
                type: object
                properties:
                  totalUrls:
                    type: integer
                  totalClicks:
                    type: integer
                  uniqueUsers:
                    type: integer
                  clicksByDate:
                    type: array
                    items:
                      type: object
                      properties:
                        date:
                          type: string
                          format: date
                        clicks:
                          type: integer
                  osType:
                    type: array
                    items:
                      type: object
                      properties:
                        osName:
                          type: string
                        uniqueClicks:
                          type: integer
                        uniqueUsers:
                          type: integer
                  deviceType:
                    type: array
                    items:
                      type: object
                      properties:
                        deviceName:
                          type: string
                        uniqueClicks:
                          type: integer
                        uniqueUsers:
                          type: integer
        401:
          $ref: '#/components/responses/Unauthorized'
        429:
          $ref: '#/components/responses/TooManyRequests' 